ion-content {
  --background: url(../../assets/icon/maxresdefault.jpg) no-repeat center/cover fixed;
}

ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
}
ion-item {
  --background: transparent;
  --ion-color-base: transparent !important;

}

.list-ios {
  background-color: transparent;
}
