<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Store</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="openCart()">
                <ion-badge *ngIf="cart.length > 0">{{ cart.length }}</ion-badge>
                <ion-icon slot="icon-only" name="cart"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>

<ion-content>
    <ion-segment scrollable (ionChange)="segmentChanged($event)">
        <ion-segment-button checked value="Milk Chocolate">
            <ion-icon src="../../assets/icon/milk.svg"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="White Choclate">
            <ion-icon name="heart"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="Flavored Popcorns">
            <ion-icon name="pin"></ion-icon>
        </ion-segment-button>
    </ion-segment>
    <div *ngFor="let item of products.products ">
        <div *ngIf="segment == 'Milk Chocolate'">
            <ion-grid>
                <ion-row>
                    <ion-col size-sm="4">
                        <ion-card>
                            <img [src]="'../../assets/icon/' + item.imageurl"/>
                            <ion-card-header>
                                <ion-card-title>{{item.name}}</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                                <ion-row>
                                    <ion-col>
                                        <ion-button expand="block" style="color: black; background:#387ef5"
                                                    [disabled]="true"><b>{{item.price| currency:'USD' }}</b>
                                        </ion-button>
                                    </ion-col>
                                    <ion-col>
                                        <ion-button expand="block" (click)="addToCart(item)">Add to cart</ion-button>

                                    </ion-col>
                                </ion-row>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div *ngIf="segment == 'White Choclate'">
            <ion-grid>
                <ion-row>
                    <ion-col size-sm="4">
                        <ion-card>
                            <img [src]="'../../assets/icon/' + item.imageurl"/>
                            <ion-card-header>
                                <ion-card-title>{{item.name}}</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                                <ion-row>
                                    <ion-col>
                                        <ion-button expand="block" style="color: black; background:#387ef5"
                                                    [disabled]="true"><b>{{item.price| currency:'USD' }}</b>
                                        </ion-button>
                                    </ion-col>
                                    <ion-col>
                                        <ion-button expand="block" (click)="addToCart(item)">Add to cart</ion-button>

                                    </ion-col>
                                </ion-row>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div *ngIf="segment == 'Flavored Popcorns'">
            <ion-grid>
                <ion-row>
                    <ion-col size-sm="4">
                        <ion-card>
                            <img [src]="'../../assets/icon/' + item.imageurl"/>
                            <ion-card-header>
                                <ion-card-title>{{item.name}}</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                                <ion-row>
                                    <ion-col>
                                        <ion-button expand="block" style="color: black; background:#387ef5"
                                                    [disabled]="true"><b>{{item.price| currency:'USD' }}</b>
                                        </ion-button>
                                    </ion-col>
                                    <ion-col>
                                        <ion-button expand="block" (click)="addToCart(item)">Add to cart</ion-button>

                                    </ion-col>
                                </ion-row>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>
