<ion-header>
    <ion-toolbar>
        <ion-title>Store</ion-title>
    </ion-toolbar>

</ion-header>

<ion-content>
    <ion-segment scrollable (ionChange)="segmentChanged($event)">
        <ion-segment-button checked value="milkchocolate">
            <ion-icon src="../../assets/icon/milk.svg"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="whitechocolate">
            <ion-icon name="heart"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="popcorns">
            <ion-icon name="pin"></ion-icon>
        </ion-segment-button>
    </ion-segment>
    <div *ngFor="let item of products ">
        <div *ngIf="segment == 'milkchocolate'">
            {{filter('milkchocolate')}}
        </div>
        <div *ngIf="segment == 'whitechocolate'">
            white
        </div>
        <div *ngIf="segment == 'popcorns'">
            popcorns
        </div>
    </div>
</ion-content>
