<ion-content padding class="myBG">
    <img src="../../assets/icon.png" alt="">
        <ion-list>
          <ion-item>
            <ion-label floating floating style="color: #57B847">E-mail</ion-label>
            <ion-input type="text" #username style="font-family: myfont"></ion-input>
          </ion-item>

          <ion-item >
            <ion-label floating floating style="color: #57B847">Password</ion-label>
            <ion-input type="password" #password ></ion-input>
          </ion-item>

        </ion-list>

    <div padding style="text-align: center">
        <ion-button block color="medium" (click)="registerUser()" >Register</ion-button>
    </div>

</ion-content>
