<ion-header>
    <ion-toolbar color="transparent">
        <ion-buttons color="transparent"   slot="start">
            <ion-back-button defaultHref="/page/login"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding class="myBG">
    <img src="../../assets/icon.png" alt="">
        <ion-list>
          <ion-item>
            <ion-label floating floating style="color: #ffffff">E-mail</ion-label>
            <ion-input type="text" #username style="font-family: myfont"></ion-input>
          </ion-item>

          <ion-item >
            <ion-label floating floating style="color: #ffffff">Password</ion-label>
            <ion-input type="password" #password ></ion-input>
          </ion-item>

        </ion-list>

    <div padding style="text-align: center">
        <ion-button block color="medium" (click)="registerUser()" >Register</ion-button>
    </div>

</ion-content>
